@media all 
and (min-width : 320px) 
and (max-width : 767px) {

body {
	margin: 0;
	padding: 0;
	font: 14px Telefonica, sans-serif;
	background: #e2e2fa; 
	width: 100%;
	overflow-x: hidden;
}

header .thin {
height: 27px;
background: rgba(255, 255, 255, 0.9);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

/* Hide lang selector */
header > div:first-child{
	display: none;
}

#page-corporate-info .jumbotron{
	display: none;
}





  header .thin #search {
    font: 10px;
    padding: 4px 20px;
    border-left: 1px solid #eee;
    height: 35px;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  header .thin #language-selector {
    font: 10px;
    padding: 4px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px; }
    header .thin #language-selector #locale-switcher {
      display: inline; }
      header .thin #language-selector #locale-switcher a {
        font-weight: 300;
        padding-left: 5px;
        color: #ccc; }
      header .thin #language-selector #locale-switcher .current {
        color: #2ac4d7; }
    header .thin #language-selector .lang {
      color: #2ac4d7; }
      
      
	header .logos {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 70px;
		background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(20, 60, 76, 0.9)), color-stop(100%, rgba(38, 161, 177, 0.9)));
		background-image: -webkit-linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
		background-image: -moz-linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
		background-image: -o-linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
		background-image: linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9)); 
	}

		header .logos #logo-tid {
			padding-top: 20px;
			padding-left: 20px;
			float: left; 
			width: 80px;
		}

		header .logos #logo-25 {
			float: left;
			padding-top: 13px;
			padding-left: 20px; 
			width: 80px;
		}


	header #breads {
	background: white;
	padding: 11px 16px;
	color: #656565; 
	}

		header #breads a {
			color: #00c4da;
			margin-left: 7px; 
		}

		header #breads span {
			color: #003245; 
		}

		
	header #menu #toogle-menu{
		position: absolute;
		right: 20px;
		top: 5px;
		z-index: 1000;
		text-indent: -9999px;
		height: 48px;
		width: 44px;
		background-image: url(../images/menu-toogle.png);
		display: block;
		padding: 0;
		border-bottom: 0;
	}	
	
	header #menu #toogle-menu:hover{
		background-color: transparent;
	}

	header #menu {
		background: white;
	}

		/*
		header #menu:after {
		content: "";
		clear: both;
		display: block; 
		}
		
		header #menu a {
		padding: 4px 16px 0 16px;
		line-height: 42px;
		display: block;
		border-bottom: 5px solid white;
		font-size: 17px;
		color: #003245; 
		}
		*/
		
		header #menu .on a {
			border-color: #2ac4d7;
			color: #2ac4d7;
		}
		
		#menu .home a{
			display: none!important;
		}
		
		header #menu #nav{
			margin-left: 0;
		}
		
			#nav ul, #nav li{
				text-align: center;
				display: block!important;
				position: relative;
			}

			header #menu #nav ul li:hover > ul {
		display: none !important; 
		}

		header #menu #nav ul li.on:hover > ul {
		display: block !important; 
		}
		
		/*
		header #menu a:hover {
		border-color: #2ac4d7;
		background: #2ac4d7;
		color: white;
		text-decoration: none; 
		}
		
		header #menu .home {
			float: left; 
		}
		
		header #menu .home a {
		font-size: 25px; 
		}
		
		header #menu #nav {
		margin-left: 55px; 
		}
		
		header #menu #nav ul ul {
		display: none; 
		}
		
		header #menu #nav ul li:hover > ul {
		display: block; 
		}
		
		header #menu #nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative; 
		}
		
		header #menu #nav ul:after {
		content: "";
		clear: both;
		display: block; 
		}
		
		header #menu #nav ul li {
		float: left;
		border-left: 1px solid #eee; 
		}
		
		header #menu #nav ul li:hover a {
		border-color: #2ac4d7;
		background: #2ac4d7;
		color: white; 
		}
		
		header #menu #nav ul li:hover ul li a {
		color: #003245; 
		}
		
		header #menu #nav ul li ul {
		position: absolute;
		top: 100%;
		z-index: 100;
		background: white; 
		}
		
		header #menu #nav ul li ul li {
		border-left: none;
		float: none; 
		}
		
		header #menu #nav ul li ul li.first a span {
		display: none; 
		}
		
		header #menu #nav ul li ul li a {
		border-color: white; 
		}
		
		header #menu #nav ul li ul li a:hover {
		background: #2ac4d7;
		color: white;
		border-color: #2ac4d7; 
		}
		
		header #menu #nav ul li ul li a span {
		display: block;
		height: 1px;
		background: rgba(255, 255, 255, 0.25);
		margin-top: -3px; 
		}
		*/


footer {
	background: #0e4451; 
}

	footer .thin {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 46px;
		background: #125465;
		font: 13px Telefonica, sans-serif;
		font-weight: 300;
		padding: 0 25px; 
	}
	
		footer .thin .signature {
			float: left;
			color: #fff;
			padding: 15px 0; 
		}
		
		footer .thin ul.links {
			float: left;
			list-style: none;
			padding: 0;
			margin: 0;
			display: none;
		}
	
			footer .thin ul.links li {
				float: left;
				margin: 0;
				padding: 13px 10px; 
			}
	
				footer .thin ul.links li a {
					color: #2ac4d7; 
				}
	    
				footer .thin ul.links li a:hover {
					color: #fff;
					text-decoration: none; 
				}
	
		
		footer .thin .share ul {
			list-style: none;
			display: none;
		}
	
			footer .thin .share ul li {
				float: left;
				padding: 9px 5px; 
			}
	
				footer .thin .share ul li a {
					color: #2ac4d7;
					font-size: 28px; 
				}
	
				footer .thin .share ul li a:hover {
					color: #fff;
					text-decoration: none; 
				}
	
	
		footer div.links {
			padding: 40px;
			background: #0e4451;
			font-weight: 300;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box; 
		}
	
			footer div.links ul {
				list-style: none;
				margin: 0;
				padding: 0; 
			}
	
			footer div.links ul li {
				padding: 0;
				margin: 0; 
			}
	
			footer div.links > ul > li {
				float: left;
				color: #fff;
				font-size: 28px;
				margin-right: 40px; 
			}
	
				footer div.links > ul > li > ul {
					margin-top: 20px; 
				}
	
					footer div.links > ul > li > ul > li {
						margin-bottom: 10px; 
					}
	
						footer div.links > ul > li > ul > li a {
							color: #2ac4d7;
							font-size: 20px; 
						}
	
		#home div.row > div.logos {
			padding: 28px 20px 20px 20px; 
			height: auto !important;
			margin-left: 0;
		}
	
			#home .logos .fellowship {
				font-size: 10px;
				color: #aaa;
				font-weight: 300;
				margin-bottom: 15px; 
			}





/* Main marketing message and sign up button */
body#page-index {
  background: #ebddd4 url(../images/robot-bjork.png) right top no-repeat; }

#home {
  position: relative; }
  #home ul.share {
    position: absolute;
    top: 0;
    left: -75px;
    list-style: none; }
    #home ul.share li {
      background: #224b5e; }
      #home ul.share li a {
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        color: #2ac4d7;
        font-size: 30px;
        padding: 10px 10px; }
        #home ul.share li a:hover {
          color: #fff;
          text-decoration: none; }
      #home ul.share li.facebook a {
        padding: 22px 25px; }
      #home ul.share li.twitter {
        background: #1a7d91; }
      #home ul.share li.linkedin {
        background: #2097ab; }
      #home ul.share li.youtube {
        background: #26b2c6; }
        #home ul.share li.youtube a {
          color: #1a7d91; }
          #home ul.share li.youtube a:hover {
            color: #fff;
            text-decoration: none; }
      #home ul.share li.github {
        background: #1c889e; }


	#home .jumbotron {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/*height: auto;*/

		padding: 30px 20px;
		background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2c7589), color-stop(100%, rgba(255, 255, 255, 0)));
		background-image: -webkit-linear-gradient(left, #2c7589, rgba(255, 255, 255, 0));
		background-image: -moz-linear-gradient(left, #2c7589, rgba(255, 255, 255, 0));
		background-image: -o-linear-gradient(left, #2c7589, rgba(255, 255, 255, 0));
		background-image: linear-gradient(left, #2c7589, rgba(255, 255, 255, 0)); 
	}

		#home .jumbotron h1 {
			font-size: 38px;
			margin-bottom: 20px;
			font-weight: 300;
			color: #fff;
			margin-top: 0;
		}

		#home .jumbotron .lead {
			color: #fff;
			margin: 0;
			padding: 0;
			font-size: 14px;
			width: 100% !important;
			line-height: 23px;
			font-weight: 300; 
		}




	#home .selected-projects {
		background: #fff;
		margin-left: 0px; 
	}

		#home .selected-projects .highlighted-project {
			padding-top: 3px;
			padding-bottom: 45px;
			position: relative;
			width: 98%;
			margin: auto;
		}
		
		#home .selected-projects .highlighted-project:first-child { margin-left: auto; }
      
		#home .selected-projects .highlighted-project .category {
        	display: block;
			position: absolute;
			height: 32px;
			top: 3px;
			left: 13px;
			background: #005366;
			padding: 7px 10px;
			color: #fff;
			font: 300 14px Telefonica, sans-serif;
			text-transform: uppercase;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box; 
		}
		
		#home .selected-projects .highlighted-project img {
        	width: 100%; 
        }
        
        #home .selected-projects .highlighted-project h4 {
        	color: #005366;
			font-size: 20px;
			font-weight: 300;
			padding: 10px 20px;
			margin-bottom: 0; 
		}
		
        #home .selected-projects .highlighted-project h4 a {
        	color: #005366; 
        }
        
        #home .selected-projects .highlighted-project h4 a:hover {
        	text-decoration: none; 
        }
        
        #home .selected-projects .highlighted-project p {
        	padding: 0px 20px;
			font: 300 14px Telefonica;
			color: #756566; 
		}
		
		#home .selected-projects .highlighted-project a.view-project {
        	display: block;
			color: #00c4da;
			font-size: 14px;
			margin-left: 20px; 
		}
		
        #home .selected-projects .highlighted-project a.view-project:hover {
			color: #00adc1; 
		}
		
  
  
  
  
  
  
  
  #home .last {
    background: #2097aa;
    margin-left: 0; }

#home .jobs {
	background: #2097aa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 20px 50px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 300; 
}
	
	#home .jpbs h3{
		margin-bottom: 20px;
	}
    
    
    #home .jobs p a {
      color: #00ff99; }
    #home .jobs ul {
      list-style: none;
      margin: 0; }
      #home .jobs ul li {
        margin-bottom: 15px; }
        #home .jobs ul li i {
          margin-right: 10px;
          color: #00ff99; }
          
          
          
          
#home .news-container {
	background: #1d8a9b;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 25px 0 25px;
	margin-left: 0;
	color: #fff;
	
}

	#home .news-container .news-item {
		margin-bottom: 0;
		overflow: hidden;
		width: 100%;
	}
	
		#home .news-container .news-item h4 {
			font: 300 14px Telefonica, sans-serif;
			color: #fff;
			width: 100%!important;
			display: block;
		}
	
			#home .news-container .news-item h4 a {
				color: #fff; 
			}
	
			#home .news-container .news-item h4 a:hover {
				color: #37ff9b;
				text-decoration: none; 
			}
	
		#home .news-container .news-item p {
			font: 300 14px Telefonica, sans-serif;
			width: 100%!important;
			display: block;
		}
		
		#home .news-container .news-item p:last-child{
			margin-bottom: 0;
		}
	
			#home .news-container .news-item p a {
				color: #37ff9b; 
			}
          
          
          
#home .row.programmes {
	background: #fff;
	margin-left: 0;
	padding: 20px 0 0 0; 
}

	#home .row.programmes .span12 {
		padding: 20px 50px;
		margin-left: -10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
	}
	
	#home .row.programmes .span6 {
		height: 122px;
		padding: 20px 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-right: 1px solid #e2e3e4; 
	}

	.row.pager-wrapper{
		background-color: white;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 60px;
	}
	
		.row.pager-wrapper span{
			color: #005366;
			cursor: pointer;
		}
		
		.row.pager-wrapper span.cycle-pager-active{
			color: #00C4DA;
		}
	
	.row.pager-wrapper.news-pager{
		background-color: transparent;
	}
	  
	  
a.plus {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/plus-sign.png) center center no-repeat; }

h2 {
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	font: 300 23px Telefonica, sans-serif;
	background: #125465; 
}

h3 {
  color: #00ff99;
  margin: 0;
  padding: 0;
  font: 300 23px Telefonica, sans-serif;
  margin-bottom: 25px; }

.highlighted {
  color: #2ac4d7; }

.centerblock {
background: #fff;
padding: 25px 20px 55px 20px; }

.centerblock h1 {
color: #005366;
font-weight: 300;
font-size: 35px;
margin-bottom: 15px;
margin-top: 0;
}

.centerblock p {
color: #656565; 
}

.centerblock a {
color: #00c4da; 
}


.hide-p{
	display: none;
}


.foot {
  background: #0098ad;
  color: white; }
  .foot a {
    color: #00ff99; }
  .foot .row {
    overflow: hidden; }
  .foot .inner {
    padding: 25px; }
  .foot .left, .foot .middle, .foot .right {
    height: 100%;
    padding-bottom: 9999px;
    margin-bottom: -9999px; }
  .foot .left {
    background: #00a7bd; }
  .foot .middle {
    background: #0098ad; }
  .foot .right {
    background: #008a9e; }
  .foot ul {
    list-style: none;
    margin-left: 0px; }
    .foot ul li:before {
      content: "\203a\0020";
      color: #00ff99; }
    .foot ul a {
      color: white; }

section.projects {
	background: #fff; 
}

	section.projects .highlighted-projects {
		width: 98%;
		margin: 3px auto 0 auto;
	}

		section.projects .project {
			padding-bottom: 40px; 
		}

			section.projects .project .category {
				background: #005366;
				color: white;
				font-weight: 300;
				padding: 10px;
				text-transform: uppercase; 
			}

				section.projects .project .image {
					position: relative;
					margin-bottom: 25px;
					height: auto;
					overflow: hidden; 
				}
	
				section.projects .project .image .category {
					left: 25px;
					position: absolute;
					z-index: 10; 
				}
	
				section.projects .project .image img {
					width: 100%; 
				}
				
				
			section.projects .other-projects .project{
				padding-left: 20px;
				padding-right: 20px;
			}
			
			section.projects .other-projects .project .text{
				padding: 0;
			}

			section.projects .project .head {
				border-top: 1px solid #005366;
				margin-left: 0;
				margin-bottom: 15px; 
			}

			section.projects .project .head .category {
				display: inline-block; 
			}

			section.projects .project .text {
				padding: 0 20px;
				color: #656565; 
			}

			section.projects .project .text h4 {
				color: #005366;
				font-size: 20px;
				font-weight: 300;
				margin-top: 0; 
			}
			
			section.projects .project .text h4 a {
				color: #005366; 
			}
			
			section.projects .project .text p a {
				color: #2ac4d7; 
			}
			
			section.projects .project .text .tags {
				margin-top: 15px;
				color: #999999; 
			}
			
			section.projects .project .text .tags i {
				color: #005366; 
			}
          
          
          
          
          
          
          
          
          
          
          
section.projectlogos {
	background: white; 
}

	section.projectlogos .logos {
		padding-top: 20px;
		padding-bottom: 0; 
	}
	
		section.projectlogos .logos .logo {
			background: url(../images/logodivider.png) right repeat-y; 
		}
		
		section.projectlogos .logos .logo:last-element {
			border: none; 
		}
		
			section.projectlogos .logos .logo img {
				width: 99%; 
			}
        
        
        
        
section.project .head {
  background: #005366;
  padding: 30px 20px; }
  section.project .head h1 {
    font-size: 43px;
    margin-bottom: 20px;
    font-weight: 300;
    color: white; }
    section.project .head h1:after {
      content: "_";
      color: #00F298; }
  section.project .head .claim {
    color: white;
    font-size: 17px;
    font-weight: 300; }
  section.project .head .closelabel {
    color: #b3cbd1;
    float: right;
    font-size: 17px;
    font-weight: 300; }
    section.project .head .closelabel span {
      font-size: 40px;
      font-weight: 300;
      float: right;
      color: white;
      line-height: 21px;
      margin-left: 5px; }
section.project .fullimage img {
  width: 100%;
  max-width: none; }
section.project .fullimage.highlighted {
  border-bottom: 5px solid #2ac4d7; }
section.project .title {
  background: white; }


  section.project .title h2 {
    font-size: 43px;
    font-weight: 300;
    color: #2ac4d7;
    padding: 30px 20px;
    background: transparent; }
  section.project iframe{
  	width: 100% !important;
  }
section.project .leftside, section.project .rightside {
  background: white;
  padding: 25px 20px 55px 20px;
  padding-bottom: 80px; }
  section.project .leftside img, section.project .rightside img {
    width: 100%; }
  section.project .leftside h3, section.project .rightside h3 {
    color: #005366;
    font-size: 35px; }
  section.project .leftside p, section.project .rightside p {
    color: #656565;
    font-weight: 300; }
section.project .centerblock {
  padding-bottom: 80px; }
  section.project .centerblock p {
    font-weight: 300; }
  section.project .centerblock img {
    margin-top: 40px; }
  section.project .centerblock.highlighted {
    border-top: 1px solid #2ac4d7; }
    section.project .centerblock.highlighted h1 {
      color: #2ac4d7;
      font-size: 43px; }
section.project .foot {
  background: #0098ad;
  color: white; }
  section.project .foot h3 {
    color: #fff900;
    font-weight: 300;
    font-size: 23px; }
  section.project .foot ul {
    list-style: none;
    margin-left: 0px; }
    section.project .foot ul li:before {
      content: "\203a\0020";
      color: #fff900; }
    section.project .foot ul a {
      color: white; }
  section.project .foot .inner {
    padding: 25px; }
  section.project .foot .links {
    background: #008a9e; }




section.people{
	background: white; 
}

	section.people .row{
		padding-bottom: 0px; 
	}
	
	section.people .person{
		/*width: 50%!important;*/
		float: left!important;
	}
	
	section.people .person .inner{
		padding: 25px; 
	}

	section.people .person h3{
		color: #003245;
		font-size: 28px;
		font-weight: 300;
		margin-bottom: 0; 
	}

	section.people .person h4{
		color: #656565;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 20px; 
	}

	section.people .person .summary{
		color: #999999; 
	}

section.people .noprofile .person h3{
color: #0095a7; 
}

section.people .links a, section.profile .links a {
font-size: 30px;
color: #999999;
display: block;
float: left;
line-height: 25px; 
}

section.people .links .profile, section.profile .links .profile {
font-size: 14px;
color: #00c4da;
margin-right: 10px;
margin-top: 3px; 
}

section.people .links .more, section.profile .links .more {
/*padding-left: 10px;
border-left: 1px solid #e2e3e4;
float: left; */
display:none;
}

section.people .links .more i, section.profile .links .more i {
margin-right: 5px; 
}

section.people .links .more a:hover, section.profile .links .more a:hover {
text-decoration: none; 
}

section.people .links .more .icon-cv-sign, section.profile .links .more .icon-cv-sign {
margin-top: 2px;
display: inline-block;
width: 0.85em;
height: 0.85em;
background: #999999;
line-height: normal;
font-family: Telefonica, sans-serif;
-webkit-border-radius: 0.15em;
-moz-border-radius: 0.15em;
-ms-border-radius: 0.15em;
-o-border-radius: 0.15em;
border-radius: 0.15em; 
}

section.people .links .more .icon-cv-sign span, section.profile .links .more .icon-cv-sign span {
color: white;
display: block;
float: left;
width: 100%;
font-size: 0.5em;
font-weight: 300;
text-align: center;
line-height: 1.7em; 
}


  
      
      
  
section.profile{
	background: white;
	padding-top: 0;
	padding-bottom: 80px; 
}

	section.profile .leftnavi{
		/*list-style-type: none;
		padding: 0;
		margin: 0;*/
		display: none;
	}
		
		/*
		section.profile .leftnavi li a{
			color: #656565;
			display: block;
			padding: 10px 25px;
			font-size: 17px; 
		}
		
		section.profile .leftnavi li a.active {
			background: #00c4da;
			color: white; 
		}
		
		section.profile .leftnavi li a.active:hover {
			text-decoration: none; 
		}
		*/
	
	section.profile .picture {
		border: 3px solid #006476;
		border-left: none;
		border-right: none;
		margin-bottom: 15px;
		max-height: 325px;
		overflow: hidden;
	}
	
		section.profile .picture img {
			width: 100%;
			max-width: none;
		}
	
	section.profile .links .more {
		border: none;
		padding: 0 20px;
		 
	}
	
	section.profile .links .more a{
		font-size: 70px;
		display: inline-block;
		margin-right: 20px;
		float: left;
	}
	
	section.profile .links .more #cv-link{
		margin-top: 3px;
	}
	
	section.profile h1 {
		color: #003245;
		font-size: 28px;
		font-weight: 300;
		margin: 0;
		padding: 0 20px;
	}
	
	section.profile h3 {
		color: #656565;
		font-size: 17px;
		font-weight: bold;
		padding: 0 20px; 
	}
	
	section.profile .description {
		font-weight: 300;
		color: #656565;
		padding: 0 20px;
	}





}


